.contenedor_encabezado_usuario{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.contenedor_encabezado_usuario >:nth-child(1){
    background-color: #97A6A0; 
    width: 100%;
    height: 15vh;
    border-radius: 20px;
    border: var(--border_2);
}

.contenedor_encabezado_usuario >:nth-child(2){
    width: 100%;
    height: 10vh;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contenedor_encabezado_usuario >:nth-child(2) >:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_encabezado_usuario >:nth-child(2) >:first-child > img{
    width: 60px;
}

.contenedor_encabezado_usuario >:nth-child(2) >:first-child > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0px 10px;
    font-size: 20px;
}

.contenedor_encabezado_usuario >:nth-child(2) > button{
    font-size: 35px;
    width: 20%;
    min-width: fit-content;
    border-radius: 20px;
    background-color: var(--color_3);
    border: var(--border_1);
    transition: .3s;
    cursor: pointer;
}

.contenedor_encabezado_usuario >:nth-child(2) > button:hover{
    box-shadow: var(--sombra_1);
}

.contenedor_encabezado_usuario > hr{
    width: 100%;
    margin: 20px 0px;
    border: solid 1px black;
}