.contenedor_publicacion{
    width: 100%;
    background-color: var(--color_3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    border: var(--border_2);
}

.contenedor_publicacion > div{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.contenedor_publicacion > div > img{
    width: 60px;
}

.contenedor_publicacion > div > p{
    font-size: 25px;
}

.contenedor_publicacion > h3{
    font-size: 35px;
}

.contenedor_publicacion > p{
    font-size: 30px;
}